
/*====================================
 Themes
=====================================*/
/*========================
 Light theme
========================*/
$primary:      #3066BE !default;
$success:      #F4D58D !default;
$accent:       #E6AF2E !default;
$warn:         #D72638 !default;
$light:        rgba(255, 255, 255, 1) !default;
$foreground:   #1f2224 !default;
$background:   rgba(242,243,247, 1) !default;
$shadow:       rgba(221, 228, 239, 1) !default;
$shadow-light: rgba(255, 255, 255, 1) !default;
$dark:          $dark !default;
$warning:       $warning !default;
$info:          $info !default;
$secondary:     $secondary !default;

/*========================
 Night theme
========================*/
// $primary:      #3066BE !default;
// $success:      rgb(175, 232, 138, 1) !default;
// $accent:       #F4D58D !default;
// $warn:         #D72638 !default;
// $light:        rgba(255, 255, 255, 1) !default;
// $foreground:   rgb(226, 224, 213) !default;
// $background:   #1f2224 !default;
// $shadow:       rgba(15, 15, 16, 0.842) !default;
// $shadow-light: rgba(40, 40, 40, 0.801) !default;
// $dark:          $dark !default;
// $warning:       $warning !default;
// $info:          $info !default;
// $secondary:     $secondary !default;

/*====================================
 Np Sizes
=====================================*/
$radius: 5px;
$text-decrease: calc( 1rem * .995);
$text-increase: calc( 1rem * 1.1);

$size-sm: 6vh;
$size-md: 10vh;
$size-lg: 15vh;
$size-xl: 19.5vh;
$size-xxl: 25.5vh;

/*====================================
 Np animations
=====================================*/
$transition-time: .3s;
