/*========================
 Light theme
========================*/
// $primary:    rgb(117, 119, 229);
// $success:    rgb(175, 232, 138, 1);
// $accent:     rgb(226, 138, 232, 1);
// $warn:       rgb(232, 138, 138, 1);
// $light:      rgba(255, 255, 255, 1);
// $foreground: rgba(117, 161, 229, 1);
// $background: rgba(242,243,247, 1);
// $shadow:     rgba(221, 228, 239, 1);
// $shadow-light: rgba(255, 255, 255, 1);


/*========================
 Night theme
========================*/
$primary:    rgb(116, 118, 230);
$success:    rgb(175, 232, 138, 1);
$accent:     rgb(235, 163, 163);
$warn:       rgb(232, 138, 138, 1);
$light:      rgba(255, 255, 255, 1);
$foreground: rgb(117, 188, 229);
$background: #383838;
$shadow:     rgba(40, 40, 41, 0.801);
$shadow-light: rgba(65, 65, 65, 0.801)

